@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

#main-container {
    margin: 20% auto;
    width: 70%;
    text-align: center;
}

#main-welcome-text {
    font-size: 32px;
    font-weight: bold;
}

#main-welcome-subtext {
    font-size: 18px;
    font-style: italic;
    color: rgba(0, 0, 0, .5);
}

#main-buttons {
    margin: 50px auto;
    width: 70%;

    text-align: center;
}

.main-btn {
    transition: .5s;

    margin: 10px;
    padding: 15px 15px;
    border: 1px solid rgba(0, 0, 0, .7);
    
    color:rgba(0, 0, 0, .7);
    font-size: 20px;
}

.main-btn:hover {
    transition: .5s;

    color: black;
    border: 1px solid black;
}